@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

.bg-yellow-gradient {
  background: linear-gradient(
    157.81deg,
    #f4d983 -43.27%,
    #f2d16a -21.24%,
    #f0c952 12.19%,
    #eec239 29.82%,
    #ecba20 51.94%,
    #eab308 90.29%
  );
}
.bg-white-gradient{
  background: linear-gradient(180deg, rgba(253,167,1,1) 0%, rgba(254,241,184,1) 60%, rgba(255,255,255,0) 100%);
}

.bg-yellow-gradient {
  background: linear-gradient(
    157.81deg,
    #f4d983 -43.27%,
    #f2d16a -21.24%,
    #f0c952 12.19%,
    #eec239 29.82%,
    #ecba20 51.94%,
    #eab308 90.29%
  );
}

.hover\:bg-gradient-to-l:hover {
    background: linear-gradient(to left, #f4d983 -43.27%, #f2d16a -21.24%, #f0c952 12.19%, #eec239 29.82%, #ecba20 51.94%, #eab308 90.29%);
}

.bg-white-gradient {
  background: linear-gradient(180deg, rgba(253,167,1,1) 0%, rgba(254,241,184,1) 60%, rgba(255,255,255,0) 100%);
}


.bg-white {
  background: #ffffff;
}

.bg-gray-gradient {
background: linear-gradient(180deg, rgba(253, 167, 1, 0.2) 0%, rgba(254, 241, 184, 0.2) 60%, rgba(255, 255, 255, 0) 100%);
}

.hover\:bg-gray-gradient:hover {
  background: linear-gradient(180deg, rgba(253, 167, 1, 1) 0%, rgba(254, 241, 184, 1) 60%, rgba(255, 255, 255, 0) 100%);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90%;
  max-height: 90%;
  background: white;
  border-radius: 10px;
  outline: none;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  overflow: auto;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: black;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}


